Firefox ESR
FirefoxAndroid >= 48
Firefox >= 48
Chrome >= 22
Opera >= 15
Edge >= 14
Safari >= 14
unreleased Firefox versions
unreleased Chrome versions
unreleased Opera versions
unreleased Edge versions
unreleased Safari versions
