{
  "parser": "@typescript-eslint/parser",
  "parserOptions": {
    "ecmaVersion": 2021,
    "sourceType": "module"
  },
  "env": {
    "es6": true,
    "browser": true,
    "node": true,
    "webextensions": true
  },
  "extends": ["eslint:recommended", "plugin:@typescript-eslint/recommended", "avi12"],
  "settings": {
    "svelte3/typescript": true
  }
}
