{
  "parserOptions": {
    "ecmaVersion": 2021,
    "sourceType": "module"
  },
  "rules": {
    "quotes": [
      "warn",
      "double",
      {
        "allowTemplateLiterals": true
      }
    ],
    "semi": "warn",
    "prefer-const": "warn",
    "comma-dangle": ["warn", "never"]
  }
}
