:root {
  --bg-color: hsl(0deg 0% 100%);
  --text-color-primary: hsl(0deg 0% 0%);
  --text-color-secondary: hsl(0deg 0% 53%);
  --text-color-warning: hsl(0deg 0% 0%);
  --bg-color-warning: hsl(0deg 0% 90%);
  --text-color-promotion: hsl(210deg 60% 53%);
  --switch-on-thumb-color: hsl(0deg 93% 61%);
  --switch-on-bg-color: hsl(0deg 100% 90%);
  --switch-off-thumb-color: hsl(0deg 93% 61%);
  --switch-off-bg-color: hsl(0deg 0% 92%);
  --slider-track-cover-color: hsl(0deg 93% 61%);
  --slider-track-uncover-color: hsl(0deg 0% 90%);
  --outline-size-box-wrapper: hsl(0deg 0% 83%);
  --outline-size-box: hsl(0deg 0% 78%);
  --outline-size-box-selected: hsl(0deg 93% 61%);
  --hr-color: hsl(0deg 0% 90%);
}

@media (prefers-color-scheme: dark) {
  :root {
    --bg-color: hsl(0deg 0% 7%);
    --text-color-primary: hsl(0deg 0% 100%);
    --text-color-secondary: hsl(0deg 0% 55%);
    --text-color-warning: hsl(0deg 0% 100%);
    --bg-color-warning: hsl(0deg 0% 25%);
    --text-color-promotion: hsl(210deg 50% 53%);
    --switch-on-thumb-color: hsl(0deg 100% 50%);
    --switch-on-bg-color: hsl(0deg 15% 31%);
    --switch-off-thumb-color: hsl(0deg 0% 85%);
    --switch-off-bg-color: hsl(0deg 0% 27%);
    --slider-track-cover-color: hsl(0deg 0% 80%);
    --slider-track-uncover-color: hsl(0deg 0% 27%);
    --outline-size-box-wrapper: hsl(0deg 0% 50%);
    --outline-size-box: hsl(0deg 0% 35%);
    --outline-size-box-selected: hsl(0deg 0% 81%);
    --hr-color: hsl(0deg 0% 27%);
  }
}

/* Chromium browsers */
::-webkit-scrollbar {
  width: 0;
}

/* Firefox */
html {
  color-scheme: light dark;
  scrollbar-width: none;
}

hr {
  border: none;
  border-top: 1px solid var(--hr-color);
}

/* Global */
body {
  width: 280px;
  margin: 0 auto;
  padding-block: 12px 16px;
  padding-inline: 18px;
  background-color: var(--bg-color);
  color: var(--text-color-primary);
  font-family: Roboto, Arial, sans-serif;
  font-size: 0.85rem;
  user-select: none;
}

[dir="rtl"] {
  direction: rtl;
}

.control-section {
  margin-top: 20px;
}

.group-label {
  margin-block: 20px 8px;
  margin-inline: 0;
  color: var(--text-color-secondary);
  font-weight: 600;
  font-size: 0.7rem;
  letter-spacing: 0.08em;
  text-transform: uppercase;

  & + .control-section {
    margin-top: 12px;
  }
}

.options-page {
  margin-bottom: 20px; /* For Firefox */

  & .control-section:first-child {
    margin-top: 0;
  }
}
