html {
  background-color: #101040;
}

.test-title {
  position: absolute;
  top: 19px;
  left: 200px;
  margin: 0;
  color: #ffd000;
  font-family: sans-serif;
  font-weight: 400;
  font-size: 19px;
  text-shadow: 1px 1px 1px #000000;
}

.test-wrapper {
  position: absolute;
  top: 19px;
  right: 200px;
  margin: 0;
}

.test-clock {
  color: #c0c0ff;
  font-family: sans-serif;
  font-size: 19px;
  font-kerning: none;
  text-shadow: 1px 1px 1px #000000;
}

.test-iframe {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 1200px;
  height: 675px;
  margin: 0;
  margin-right: -50%;
  border: none;
  transform: translate(-50%, -50%);
}
