.ythd-donation-section {
  background-color: hsl(0, 0%, 20%);
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  font-size: max(1rem, 16px);
  padding: 2rem;
}

.ythd-donation-section__header {
  display: flex;
  justify-content: space-between;
  margin-bottom: 2rem;
  width: 100%;
}

.ythd-donation-section__title {
  color: hsl(0, 100%, 70%);
  font-size: 2rem;
  margin: 0 auto;
}

.ythd-donation-section__close-btn {
  color: hsl(0, 0%, 50%);
  cursor: pointer;
  background-color: transparent;
  border: none;
}

.ythd-donation-section__description {
  color: hsl(0, 0%, 100%);
}
