.ythd-israel-support {
  background-color: hsl(0, 0%, 20%);
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  font-size: max(1rem, 16px);
  padding: 2rem;
  margin-bottom: 10px;
  direction: ltr;

  &__header {
    display: flex;
    justify-content: space-between;
    margin-bottom: 2rem;
    width: 100%;
  }

  &__title {
    color: hsl(0, 100%, 70%);
    font-size: 2rem;
    margin: 0 auto;
  }

  &__close {
    color: black;
    cursor: pointer;
    background-color: lightgray;
    border: none;
    border-radius: 50%;
    width: 24px;
    height: 24px;
    display: grid;
    place-items: center;
  }

  &__description {
    color: hsl(0, 0%, 100%);
  }
}
