#plasmo-shadow-container {
  display: flex;
}

.plasmo-csui-container {
  display: flex;
  flex-direction: column;
  flex: 1;
}

.ythd-donation {
  background-color: var(--yt-spec-additive-background, rgba(0, 0, 0, 0.5));
  padding: 12px;
  margin-bottom: 10px;
  direction: ltr;
  border-radius: 8px;

  &__title {
    color: var(--yt-spec-text-primary, #0f0f0f);
    margin: 0 0 4px 0;
    font-size: 1.4rem;
  }

  &__description {
    color: var(--yt-spec-text-secondary, #606060);
    margin: 0;
    font-size: 1.4rem;
    line-height: 1.8rem;

    &:not(:last-child) {
      margin-bottom: 10px;
    }
  }

  &__link {
    color: var(--yt-spec-call-to-action, #3ea6ff);
    text-decoration: none;
  }

  &__close {
    color: var(--yt-spec-call-to-action, #3ea6ff);
    border: none;
    padding: 0;
    background: none;
    cursor: pointer;
  }
}
